<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/messages/add">new</a>
  <ul>
    <% for (let i=0; i < messages.length; i++) { %>
      <li style="display: flex;gap:8px;">
        <%= messages[i] %>
          <a href="/messages/<%= i %>">edit</a>
      </li>
      <% } %>
  </ul>
</body>

</html>